	.box {
		border-style: solid;
		font-size: auto;
		padding: 5px;
		padding-left: 12px;
		padding-right: 12px;
		margin-right: 3%;
	}

	.bord {
		border-style: solid;
		height: 25%;
		width: 40%;
	}

	.boxton {
		border-style: solid;
		font-size: auto;
		padding: 5px;
		padding-left: 12px;
		padding-right: 12px;
		margin-right: -82%;
	}

	.boxol {
		border-style: solid;
		font-size: auto;
		padding: 5px;
		padding-left: 12px;
		padding-right: 12px;
		margin-left: -15%;
		margin-right: 3%;
	}

	.tabl {
		margin-left: -82%;
		margin-top: -15%
	}

	.txt {
		padding-top: 5%;
		padding-bottom: 5%;
		width: 20%;
	}
	.sect {
		margin-left: -5%;
		float: left;
	}