body { 
    margin: 0; 
	padding: 0; 
    background-color: #23272a;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
	border-style: solid;
	font-size: auto;
	padding: 5px;
	padding-left: 12px;
	padding-right: 12px;
	margin-right: 3%;
}

.bord {
	border-style: solid;
	height: 25%;
	width: 40%;
}

.boxton {
	border-style: solid;
	font-size: auto;
	padding: 5px;
	padding-left: 12px;
	padding-right: 12px;
	margin-right: -82%;
}

.boxol {
	border-style: solid;
	font-size: auto;
	padding: 5px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: -15%;
	margin-right: 3%;
}

.tabl {
	margin-left: -82%;
	margin-top: -15%
}

.txt {
	padding-top: 5%;
	padding-bottom: 5%;
	width: 20%;
}
.sect {
	margin-left: -5%;
	float: left;
}
#vandag, #moment, #wij, #ver, #aaan, #aver, #cwij, #cver{
    display: none;
}
body {
	margin: 0;
	padding: 0;
	background-color: #23272a;
	color: #fff;
	font-style: normal;
}
.knop {
	top: 1.0vw;
	right: 1.0vw;
	width: 12vw;
	height: 3vh;
	background-color: #176292;
	color: #fff;
	border-radius: 0.3vw;
}
.inputtype {
	background-color: #2b2f31;
	color: white;
	height: 3vw;
	border: rgb(98, 98, 98) solid 0.05vw;
    box-shadow: 0.1vw 0.1vw 0.1vw gray;
}
.uitlog {
	border-radius: 0.3vw;
	background-color: #176292;
    color: white;
	height: 2.5vw;
	width: 6vw;
	font-size: 14px;
}
.uitlog:hover {
	background-color: red;
	border: rgb(150, 150, 150) solid 0.05vw;
	cursor: pointer;
}
.knopp {
	height: 3vw;
	width: 6vw;
	background-color: #2b2f31;
	border: rgb(98, 98, 98) solid 0.05vw;
	color: white;
}
.knopp:hover {
	background-color: #494b4b;
	border: rgb(150, 150, 150) solid 0.05vw;
	cursor: pointer;
}
.grote {
    color:white;
}
.mailwhite{
	color: #fff;
}