body { 
	margin: 0; 
	padding: 0; 
    background-color: #23272a;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.paneel {
    position: relative;
    top: 0.3vw;
    left: 0.3vw;
    width: 8vw;
    height: 4vh;
    background-color: #176292;
    color: #fff;
    border: gray solid 0.1vw;
    border-radius: 0.3vw;
    margin-bottom: 1vw;
}
.paneel:hover {
    cursor: pointer;
    background-color: #0D334C;
    border-color: #fff;
}
.dartikel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 35vw;
    background-color: #2c2f33;
    border: #fff solid 0.05vw;
    box-shadow: 0.1vw 0.1vw 0.1vw gray;
    border-radius: 0.6vw;
    margin: 0.5vw;
}
.dartikel img{
    position: relative;
    width: 22vw;
    height: 15vw;
    border-top-left-radius: 0.6vw;
    border-bottom-right-radius: 0.6vw;
}
.dartikel .naam{
    position: absolute;
    top: 16vw;
    left: 1vw;
    height: 1.3vw;
    width: 20vw;
    background-color: #fff;
    border-radius: 0.4vw;
    color: #000;
    font-size: 1.1vw;
    text-align: center;
}
.dartikel .info{
    position: absolute;
    top: 18vw;
    left: 1vw;
    height: 12vw;
    width: 20vw;
    background-color: #fff;
    border-radius: 0.4vw;
    color: #000;
    text-align: center;
    font-size: 1.1vw;
}
.dartikel .omhulsol{
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    height: 3.5vw;
    width: 20vw;
    background-color: #fff;
    border-radius: 0.4vw;
}
.dartikel .omhulsol .barcode{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dartikel .omhulsol .barcoden{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}
.dsluit{
    position: absolute;
    top: 0.5vw;
    right: 1vw;
    font-size: 2vw;
}
.dsluit:hover{
    cursor: pointer;
}
#uitleenform{
    position: absolute;
    top: 3vw;
    right: 1vw;
}
.geschiedenis{
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    height: fit-content;
    background-color: #2c2f33;
    border: #fff solid 0.05vw;
    box-shadow: 0.1vw 0.1vw 0.1vw gray;
    border-radius: 0.6vw;
    text-align: center;
    margin-top: 1vw;
}
.geschiedenis table tbody tr td a{
    color: #fff;
    text-decoration: none;
}
.opmerking{
    position: relative;
    float: right;
    width: 15vw;
    height: 10vw;
    top: 1vw;
    left: -1vw;
}
/* alerts */
.alert {
	position: absolute;
    top: 1vw;
    left: 50%;
    transform: translateX(-50%);
    height: 1vw;
    width: 80vw;
	padding: 20px;
    background-color: #f44336;
	/*animation: colorRotate .45s linear 0s infinite;*/
	color: white;
	margin: 15px;
	z-index: 2;
}
@keyframes colorRotate {
    from {
        background-color: #6666ff;
    }
    10% {
        background-color: #0099ff;
    }
    50% {
        background-color: #00ff00;
    }
    75% {
        background-color: #ff3399;
    }
    100% {
        background-color: #6666ff;
    }
  }
.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.retour{
    position: absolute;
    right: 5vw;
    margin-right: 1vw;
    top: 15vw;
}
.closebtn:hover {
	color: black;
}
/* alerts */
/* scroll balk */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* scroll balk */